*, *::after, a::before {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(209, 209, 0);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Patrick Hand', cursive;
}

.header {
    margin: 10px;
}

.form {
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
}

.form-head {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.input {
    margin-top: 10px;
    width: 99%;
    height: 30px;
    text-align: center;
    font-size: larger;
    border-radius: 20px;
}

.submit {
    width: 100%;
    margin-top: 10px;
    height: 35px;
    background: linear-gradient(to left ,rgb(157, 255, 0), rgb(255, 230, 0));
    border: 1px solid black;
    transition: 0.15s;
    font-size: larger;
    font-weight: bold;
}
.submit:hover {
    border: 1px solid white;
}